@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
  box-sizing: border-box;
  transition: all .2s linear; }

.container {
  display: flex;
  justify-content: space-between;
  width: 1366px;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .container {
      flex-wrap: wrap; } }

@media only screen and (max-width: 1366px) {
  .container_fluid {
    width: 86%; } }

@media only screen and (max-width: 736px) {
  .container_fluid {
    justify-content: center; } }

@media only screen and (max-width: 414px) {
  .container_fluid {
    width: 92%; } }

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 35px 0 35px; }
  .header_navblock {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    font-family: 'Open Sans', sans-serif; }
    @media only screen and (max-width: 1300px) {
      .header_navblock {
        justify-content: space-around; } }
    @media only screen and (max-width: 830px) {
      .header_navblock {
        width: 70%; } }
    @media only screen and (max-width: 572px) {
      .header_navblock {
        justify-content: flex-end; } }
  .header_nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
    font-size: 14px; }
    @media only screen and (max-width: 1300px) {
      .header_nav {
        display: none; } }
    .header_nav_active {
      display: flex;
      justify-content: space-around;
      position: absolute;
      right: 0;
      top: 50px;
      background-color: #ffffff; }
      @media only screen and (max-width: 580px) {
        .header_nav_active {
          width: 100%; } }
    .header_nav li {
      list-style-type: none; }
      .header_nav li a {
        text-decoration: none;
        color: #000000; }
        .header_nav li a:hover {
          color: #0289c0; }
        .header_nav li a:first-letter {
          text-transform: uppercase; }
  .header_mobile {
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #0289c0;
    align-items: center; }
    @media only screen and (max-width: 1300px) {
      .header_mobile {
        display: inline-block; } }
    .header_mobile span {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      margin-top: 8px;
      background: #0289c0; }
      .header_mobile span:first-child {
        margin-top: 0; }
    .header_mobile_menu, .header_mobile_crossed {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      vertical-align: middle; }
    .header_mobile_crossed {
      display: none; }
    .header_mobile_menu {
      display: block; }

.header_mobile.active .header_mobile_crossed {
  display: block; }
  .header_mobile.active .header_mobile_crossed span {
    position: absolute;
    margin: 0;
    width: 100%; }
    .header_mobile.active .header_mobile_crossed span:first-child {
      -moz-transform: rotateZ(45deg);
      -webkit-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      transform: rotateZ(45deg); }
    .header_mobile.active .header_mobile_crossed span:last-child {
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -webkit-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg); }

.header_mobile.active .header_mobile_menu {
  display: none; }

.btn {
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 5px 20px; }
  .btn--login {
    color: #339933;
    border: 1px solid #339933; }
    .btn--login:hover {
      background-color: #339933;
      color: #ffffff; }
    @media only screen and (max-width: 1300px) {
      .btn--login {
        margin-right: 30px; } }
    @media only screen and (max-width: 572px) {
      .btn--login {
        display: none; } }
  .btn--lesson {
    color: #ff6501;
    border: 1px solid #ff6501; }
    .btn--lesson:hover {
      background-color: #ff6501;
      color: #ffffff; }
    @media only screen and (max-width: 572px) {
      .btn--lesson {
        display: none; } }
  .btn--test {
    color: #ffffff;
    background-color: #0289c0;
    padding: 2px 20px 30px 20px;
    font-size: 16px; }
    @media only screen and (max-width: 768px) {
      .btn--test {
        font-size: 14px; } }
    @media only screen and (max-width: 400px) {
      .btn--test {
        font-size: 10px; } }
  .btn_request {
    background-color: #ff6600;
    border: none;
    width: 100%;
    padding: 13px 20px;
    text-align: right; }

.banner {
  background-color: #0289c0; }
  .banner_tel {
    display: flex;
    align-items: center; }
    .banner_tel:before {
      content: url(../img/phone.svg);
      width: 15px;
      height: 15px;
      padding-right: 5px; }
    .banner_tel a {
      color: #ffffff;
      text-decoration: none;
      font-size: 14px; }

.section {
  padding: 50px 0; }

.title {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  @media only screen and (max-width: 590px) {
    .title {
      font-size: 24px;
      text-align: center; } }
  .title--black {
    color: #000000;
    margin-top: 30px;
    padding-top: 30px; }
  .title--gray {
    color: #666666;
    font-size: 24px; }
  .title--small {
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    border-bottom: 2px solid #cc0000;
    margin-top: 0;
    padding-bottom: 5px; }

.info {
  width: 75%; }
  @media only screen and (max-width: 924px) {
    .info {
      width: 65%; } }
  @media only screen and (max-width: 768px) {
    .info {
      width: 100%; } }
  .info_wrap {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 524px) {
      .info_wrap {
        flex-direction: column; } }
  .info_begin {
    display: flex;
    width: 140px;
    height: 140px;
    flex-basis: 140px;
    border: 3px solid #339933;
    border-radius: 50%; }
    .info_begin span {
      margin: auto;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      color: #339933;
      text-transform: uppercase; }
  .info_text {
    width: 75%;
    padding-left: 30px;
    line-height: 2; }
    @media only screen and (max-width: 524px) {
      .info_text {
        width: 100%;
        padding-left: 0; } }
  .info_list {
    line-height: 2;
    padding-left: 10px; }

.scills {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0; }
  .scills li {
    width: 25%;
    list-style-type: none;
    padding-right: 50px; }
    @media only screen and (max-width: 924px) {
      .scills li {
        padding-right: 10px; } }
    @media only screen and (max-width: 570px) {
      .scills li {
        width: 50%; } }
  .scills_title {
    font-weight: bold; }
    @media only screen and (max-width: 568px) {
      .scills_title {
        display: block;
        text-align: center; } }
  .scills_icon {
    display: block;
    width: 80px; }
    @media only screen and (max-width: 568px) {
      .scills_icon {
        margin: 0 auto; } }
    .scills_icon img {
      width: 100%; }
  .scills_text {
    font-size: 13px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.49; }

.gradation {
  width: 264px; }
  @media only screen and (max-width: 924px) {
    .gradation {
      width: 35%; } }
  @media only screen and (max-width: 768px) {
    .gradation {
      width: 100%; } }

.learn {
  padding-left: 0; }
  .learn_level {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); }
    .learn_level div {
      padding-left: 15px; }
    .learn_level span {
      display: block;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700; }
    .learn_level p {
      margin: 0; }
    .learn_level::before {
      content: "";
      display: inline-block;
      width: 68px;
      height: 68px;
      border-radius: 50%; }
    .learn_level--begin span {
      color: #339933; }
    .learn_level--begin:before {
      border: 2px solid #339933; }
    .learn_level--elem span {
      color: #0289c0; }
    .learn_level--elem:before {
      border: 2px solid #0289c0; }
    .learn_level--preinter span {
      color: #ff9900; }
    .learn_level--preinter:before {
      border: 2px solid #ff9900; }
    .learn_level--inter span {
      color: #ff6600; }
    .learn_level--inter:before {
      border: 2px solid #ff6600; }
    .learn_level--upperinter span {
      color: #cc0000; }
    .learn_level--upperinter:before {
      border: 2px solid #cc0000; }
    .learn_level--advanced span {
      color: #000000; }
    .learn_level--advanced:before {
      border: 2px solid #000000; }

.contacts {
  background-image: url(../img/bg-image.png);
  background-position: top right;
  background-size: 150% 150%;
  background-repeat: no-repeat;
  border-radius: 30px;
  color: #ffffff;
  width: 100%;
  padding: 20px 10px; }
  @media only screen and (max-width: 768px) {
    .contacts {
      padding: 20px 100px; } }
  @media only screen and (max-width: 540px) {
    .contacts {
      padding: 20px; } }
  .contacts_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    text-align: center; }
  .contacts_price {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: 100% 75%;
    background-position: bottom;
    padding-bottom: 10px; }
    .contacts_price_wrap {
      display: flex;
      justify-content: center;
      padding: 0 10px; }
      .contacts_price_wrap--center {
        align-items: center; }
    .contacts_price_sale {
      display: flex;
      width: 34px;
      height: 34px;
      background-color: #ff6600;
      border-radius: 50%;
      font-size: 11px; }
      .contacts_price_sale span {
        margin: auto; }
    .contacts_price_title {
      font-size: 11px;
      width: 110px;
      text-align: center; }
    .contacts_price_old {
      font-size: 18px;
      color: #ffffff;
      opacity: 0.5;
      position: relative;
      padding-top: 5px; }
      .contacts_price_old:before {
        border-bottom: 1px solid #ffffff;
        position: absolute;
        content: "";
        width: 100%;
        height: 30%;
        opacity: 0.5;
        transform: rotate(-24deg); }
    .contacts_price_discount {
      font-size: 32px;
      padding-right: 0; }
    .contacts_price_duration {
      font-size: 11px;
      border-left: 1px solid #ffffff;
      padding-left: 20px; }
    .contacts_price_currency {
      font-size: 11px;
      padding: 5px 20px 0 0; }
  .contacts_form {
    width: 100%;
    padding: 0 10px; }
    .contacts_form_input {
      width: 100%;
      padding: 13px 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      outline: none;
      border: none; }
  .contacts_agreements {
    color: #ffffff;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    text-align: center; }
    .contacts_agreements a {
      color: #ffffff; }
