@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$text-dark:#000000;
$text-gray:#666666;
$blue-general: #0289c0;
$text-green:#339933;
$orange:#ff6501;
$foxy-color:#ff9900;
$inter-orange:#ff6600;
$red-color:#cc0000;
$gray-color:#5c5c5c;

*{
	box-sizing:border-box;
	transition: all .2s linear;
}
// html,body{
// 	height: 100%;
// 	width: 100%;
// }

.container {
	display: flex;
	justify-content: space-between;
	// align-items: center;
	width: 1366px;
	margin: 0 auto;
	@media only screen and (max-width: 768px) {
		flex-wrap:wrap;
	}
}
.container_fluid {
	@media only screen and (max-width: 1366px) {
		width: 86%;
	}
	@media only screen and (max-width: 736px) {
		justify-content: center;
	}

	@media only screen and (max-width: 414px) {
		width: 92%;
	}
	
}

.header {
	display: flex;
	justify-content:space-between;
	width: 100%;
	padding: 0 35px 0 35px;
	&_navblock {
		display: flex;
		justify-content:space-between;
		width: 50%;
		align-items:center;
		font-family: 'Open Sans', sans-serif;
		@media only screen and (max-width: 1300px) {
			justify-content: space-around;
		}
		@media only screen and (max-width: 830px) {
			width: 70%;
		}
		@media only screen and (max-width: 572px) {
			justify-content: flex-end;
		}
	}
	&_nav {
		display: flex;
		width: 50%;
		justify-content:space-between;
		padding-left: 0;
		margin: 0;
		font-size: 14px;
		@media only screen and (max-width: 1300px) {
			display: none;

		}
		&_active {
			display: flex;
			justify-content: space-around;
			position: absolute;
			right: 0;
			top: 50px;
			background-color: #ffffff;
			@media only screen and (max-width: 580px) {
				width: 100%;
			}
			& li {
				// display: inline-block;
			}
		}
		li {
			list-style-type: none;

			a {
				text-decoration: none;
				color: $text-dark;
				&:hover {
					color: $blue-general;
				}
				&:first-letter {
					text-transform: uppercase;
				}
			}
		}
	}


	&_mobile {
		display: none;
    	width: 30px;
    	height: 30px;
		position: relative;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-decoration: none;
		color: $blue-general;
		align-items: center;

		@media only screen and (max-width: 1300px) {
			display: inline-block;
		}
		& span {
			display: block;
			width: 100%;
			height: 3px;
			border-radius: 2px;
			margin-top: 8px;
			background: $blue-general;
			&:first-child {
				margin-top: 0;
			}
		}
		&_menu,
		&_crossed {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			-moz-transform: translate(-50%,-50%);
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			vertical-align: middle;
		}
		&_crossed {
			display: none;
		}
		&_menu {
			display: block;
		}

	}
	
	
}
.header_mobile.active .header_mobile_crossed {
	display: block;
	& span {
		position:absolute;
		margin: 0;
		width: 100%;
		&:first-child {
		-moz-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}
	&:last-child {
		-moz-transform: rotateZ(-45deg);
		-ms-transform: rotateZ(-45deg);
		-webkit-transform: rotateZ(-45deg);
		transform: rotateZ(-45deg);
	}
	}
	
}
.header_mobile.active .header_mobile_menu {
	display: none;
}
.btn {
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	border-radius: 5px;
	padding: 5px 20px;
	&--login {
		color: $text-green;
		border:1px solid $text-green;
		&:hover {
			background-color: $text-green;
			color: #ffffff;
		}
		@media only screen and (max-width: 1300px) {
			margin-right: 30px;
		}

		@media only screen and (max-width: 572px) {
			display: none;
		}

	}
	&--lesson {
		color: $orange;
		border:1px solid $orange;
		&:hover {
			background-color: $orange;
			color:#ffffff;
		}
		@media only screen and (max-width: 572px) {
			display: none;
		}
	}
	&--test {
		color: #ffffff;
		background-color: $blue-general;
		padding: 2px 20px 30px 20px;
		font-size: 16px;
		@media only screen and (max-width: 768px) {
			font-size: 14px;
		}

		@media only screen and (max-width: 400px) {
			font-size: 10px;
		}

	}
	&_request {
		background-color: $inter-orange;
		border:none;
		width: 100%;
		padding: 13px 20px;
		text-align: right;
	}

	}
.banner {
	background-color: $blue-general;

	&_tel {
		display: flex;
		align-items: center;
		&:before {
			content: url(../img/phone.svg);
			width: 15px;
			height: 15px;
			padding-right: 5px;
		}
		& a {
		color: #ffffff;
		text-decoration: none;
		font-size: 14px;

	}

}
}
.section {
	padding: 50px 0;
}
.title {
	color: #ffffff;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	@media only screen and (max-width: 590px) {
		font-size: 24px;
		text-align: center;
	}
	&--black {
		color: #000000;
		margin-top: 30px;
		padding-top: 30px;
	}
	&--gray {
		color:#666666;
		font-size: 24px; 
	}
	&--small {
		font-size: 16px;
		color: #000000;
		font-weight: 700;
		border-bottom: 2px solid $red-color;
		margin-top: 0;
		padding-bottom: 5px;
	}
}
.info {
	width: 75%;
	@media only screen and (max-width: 924px) {
		width: 65%;
	}

	@media only screen and (max-width: 768px) {
		width: 100%;
	}
	&_wrap {
		display: flex;
		align-items: center;
		@media only screen and (max-width: 524px) {
			flex-direction:column;
		}
	}
	&_begin {
		display: flex;
		width: 140px;
		height: 140px;
		flex-basis: 140px;
		border:3px solid $text-green;
		border-radius: 50%;
		& span {
			margin: auto;
			font-size: 14px;
			font-family: 'Open Sans', sans-serif;
			font-weight: 700;
			color:$text-green;
			text-transform: uppercase;

		}
	}
	&_text {
		width: 75%;
		padding-left: 30px;
		line-height: 2;
		@media only screen and (max-width: 524px) {
			width: 100%;
			padding-left: 0;
		}
	}
	&_list {
		line-height: 2;
		padding-left: 10px;
	}
}
.scills {
	display: flex;
	flex-wrap:wrap;
	padding-left: 0;
	& li {
		width:25%;
		list-style-type: none;
		padding-right: 50px;
		@media only screen and (max-width: 924px) {
			padding-right: 10px;
		}
		@media only screen and (max-width: 570px) {
			width:50%;
			
		}
		

	}
	&_title {
		font-weight: bold;
		@media only screen and (max-width: 568px) {
			display: block;
			text-align: center;
		}
	}
	&_icon {
		display: block;
		width: 80px;
		@media only screen and (max-width: 568px) {
			margin:0 auto;
		}
		img {
			width: 100%;
		}
	}
	&_text {
		font-size: 13px;
		color:#000000;
		font-family: 'Open Sans', sans-serif;
		line-height: 1.49;

	}
}
.gradation {
	width: 264px;
	@media only screen and (max-width: 924px) {
		width: 35%;
	}
	@media only screen and (max-width: 768px) {
		width: 100%;
	}
}
.learn {
	padding-left: 0;
	&_level {
		list-style-type: none;
		display: flex;
		align-items: center;
		padding: 15px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		& div {
			padding-left: 15px;
		}
		& span {
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
		}
		& p {
			margin: 0;
		}
		&::before {
			content: "";
			display: inline-block;
			width: 68px;
			height: 68px;
			border-radius: 50%;

		}
		&--begin {
			& span {
				color: $text-green;
			}
			&:before {
				border:2px solid $text-green;
			}
		}
		&--elem {
			& span {
				color: $blue-general;
			}
			&:before {
				border:2px solid $blue-general;
			}
		}
		&--preinter {
			& span {
				color: $foxy-color;
			}
			&:before {
				border:2px solid $foxy-color;
			}
		}
		&--inter {
			& span {
			color: $inter-orange;
			}
			&:before {
				border:2px solid $inter-orange;
			}
		}
		&--upperinter {
			& span {
				color: $red-color;
			}
			&:before {
				border:2px solid $red-color;
			}
		}
		&--advanced {
			& span {
				color: $text-dark;
			}
			&:before {
				border:2px solid $text-dark;
			}
		}
	}
}

.contacts {
	background-image: url(../img/bg-image.png);
	background-position: top right;
	background-size: 150% 150%;
	background-repeat: no-repeat;
	border-radius: 30px;
	color: #ffffff;
	width: 100%;
	padding: 20px 10px;
	@media only screen and (max-width: 768px) {
		padding: 20px 100px;
	}
	@media only screen and (max-width: 540px) {
		padding: 20px;
	}
	&_title {
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: normal;
		color: #ffffff;
		text-align: center;
		// position: relative;
		// top: 40px;
	}
	&_price {
		font-family: 'Open Sans', sans-serif;
		background-image: url(../img/Rectangle.png);
		background-repeat: no-repeat;
		background-size: 100% 75%;
		background-position: bottom;
		padding-bottom: 10px;
		&_wrap {
			display: flex;
			justify-content: center;
			padding: 0 10px;
			&--center {
				align-items: center;
			}
		}
		&_sale {
			display: flex;
			width: 34px;
			height: 34px;
			background-color: $inter-orange;
			border-radius: 50%;
			font-size: 11px;
			& span {
				margin: auto;
			}

		}
		&_title {
			font-size: 11px;
			width: 110px;
			text-align: center;
			
		}
		&_old {
			font-size: 18px;
			color: #ffffff;
			opacity: 0.5;
			position: relative;
			padding-top: 5px;
			&:before {
				border-bottom: 1px solid #ffffff;
   			    position: absolute;
   			    content: "";
   			    width: 100%;
   			    height: 30%;
   			    opacity: 0.5;
   			    transform: rotate(-24deg);
			}
		}
		&_discount {
			font-size: 32px;
			padding-right:0;
			
			}
			
		&_duration {
			font-size: 11px;
			border-left: 1px solid #ffffff;
			padding-left: 20px;
		}
		&_currency {
			font-size: 11px;
			padding: 5px 20px 0 0;
		}
	}

	&_form {
		width: 100%;
		padding: 0 10px;
		&_input {
			width: 100%;
			padding: 13px 20px;
			margin-bottom: 10px;
			border-radius: 5px;
			outline: none;
			border:none;
		}
	}
	&_agreements {
		color: #ffffff;
		font-size: 11px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		& a {
			color: #ffffff;
		}
	}

}